repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: end-of-file-fixer
  - id: trailing-whitespace
  - id: mixed-line-ending
    args: [--fix=lf]
    exclude: \.bat$
  - id: check-json
  - id: pretty-format-json
    args: [--autofix, --top-keys=version]
  - id: check-yaml
  - id: detect-private-key
  - id: check-merge-conflict
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.6
  hooks:
  - id: forbid-tabs
  - id: remove-tabs
    args: [--whitespaces-count, '4']
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.16.0
  hooks:
  - id: pretty-format-yaml
    args: [--autofix, --indent, '2']
- repo: https://github.com/tdegeus/cpp_comment_format
  rev: v0.2.1
  hooks:
  - id: cpp_comment_format
- repo: https://github.com/tdegeus/conda_envfile
  rev: v0.5.2
  hooks:
  - id: conda_envfile_parse
    files: environment.yaml
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v21.1.8
  hooks:
  - id: clang-format
    files: .*\.[hc]pp$
- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.36.0
  hooks:
  - id: check-github-workflows
