name: CI
on:
  workflow_dispatch:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:

  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: pre-commit/action@v3.0.0

  unix:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-18.04, ubuntu-20.04, macos-10.15, macos-11]

    steps:
    - uses: actions/checkout@v3

    - name: Install mamba
      uses: mamba-org/provision-with-micromamba@v14
      with:
        environment-file: environment-dev.yml
        environment-name: xwidgets

    - name: Cmake configure
      shell: bash -l -eo pipefail {0}
      run: >
        cmake -B build -Werror=dev
        ${CMAKE_ARGS}
        -D CMAKE_BUILD_TYPE=Release
        -D XWIDGETS_BUILD_TESTS=ON
        -D CMAKE_PREFIX_PATH="${CONDA_PREFIX}"
        -D CMAKE_INSTALL_PREFIX="${CONDA_PREFIX}"

    - name: Build
      shell: bash -l -eo pipefail {0}
      run: cmake --build build/ --parallel 2

    - name: Test xwidgets
      uses: nick-invision/retry@v2
      with:
        timeout_minutes: 4
        max_attempts: 4
        shell: bash
        command: ctest --test-dir build/test --output-on-failure

    - name: Install xwidgets
      shell: bash -l -eo pipefail {0}
      run: cmake --install build/

    - name: Test notebook
      if: ${{ startsWith(matrix.os, 'ubuntu') }}
      shell: bash -l -eo pipefail {0}
      run: papermill notebooks/xwidgets.ipynb "$(mktemp -d)/out.ipynb"

  win:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [windows-2019, windows-2022]

    steps:
    - uses: actions/checkout@v2

    - name: install mamba
      uses: mamba-org/provision-with-micromamba@main
      with:
        environment-file: environment-dev.yml
        environment-name: xwidgets

    - name: micromamba shell hook
      shell: powershell
      run: |
        micromamba shell hook -s cmd.exe -p C:\Users\runneradmin\micromamba-root

    - name: Make build directory
      run: mkdir build

    - name: Cmake configure
      shell: cmd /C call {0}
      run: |
        call micromamba activate xwidgets
        if %errorlevel% neq 0 exit /b %errorlevel%
        cmake -B build -Werror=dev ^
         -G Ninja ^
         -D CMAKE_BUILD_TYPE=Release ^
         -D XWIDGETS_BUILD_TESTS=ON ^
         -D XWDIGETS_BUILD_TESTS=ON ^
         -D CMAKE_PREFIX_PATH="%CONDA_PREFIX%\Library" ^
         -D CMAKE_INSTALL_PREFIX="%CONDA_PREFIX%"

    - name: Build
      shell: cmd /C call {0}
      run: |
        set CL=/MP
        if %errorlevel% neq 0 exit /b %errorlevel%
        micromamba run -n xwidgets cmake --build build/ --parallel

    - name: Test xwidgets
      uses: nick-invision/retry@v2
      with:
        timeout_minutes: 4
        max_attempts: 4
        shell: cmd
        command: |
          call C:\Users\runneradmin\micromamba-root\condabin\micromamba.bat activate xwidgets
          set PATH=%CONDA_PREFIX%;%CONDA_PREFIX%\\Scripts;%CONDA_PREFIX%\\Library;%CONDA_PREFIX%\\Library\\bin;%PATH%
          ctest --test-dir build/test --output-on-failure
